*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-button:single-button {
  background-color: black;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

*::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent gray transparent;
}

*::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent white transparent;
}

*::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: gray transparent transparent transparent;
}

*::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: white transparent transparent transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid black;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1a;
}

body .container-fluid {
  padding: 0 15 0 0;
}

.particles {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -2;
  position: absolute !important;
  height: 100vh;
  width: 90vw;
  opacity: 0.8;
  overflow: hidden !important;
  top: 0;
  right: 0;
  bottom: 0;
}

.nav-style {
  font-family: 'Montserrat', sans-serif;
  z-index: 30;
}

.nav-style .logo {
  margin-right: 5%;
}

.header {
  margin-top: 15vh;
  vertical-align: middle;
}

.header .name {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.header .info {
  color: white;
  opacity: 0.85;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  opacity: 0.85;
  margin-bottom: 4rem;
}

.header .i-m {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  opacity: 0.85;
  margin-bottom: 1rem;
}

.header .cv {
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: auto;
  right: auto;
  text-align: center;
}

.header .cv .btn {
  border-radius: 10px;
  font-size: large;
}

.header .cv .btn:hover {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
  font-family: 'Montserrat', sans-serif;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  border-bottom: 2px solid #ffd600;
  padding-bottom: 25px;
}

.about {
  position: relative;
  color: white;
}

.about .about-img {
  width: 30vw;
  border-radius: 50px;
  vertical-align: middle;
}

.skills {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .section-title {
  border-bottom: 2px solid #ffd600;
  padding-bottom: 25px;
}

.skills .category {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.skills .skillButton {
  border-radius: 20px;
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  padding-left: 10px;
  padding-right: 0;
  border: 0;
}

.contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .section-title {
  border-bottom: 2px solid #ffd600;
  padding-bottom: 25px;
}

.contact form label {
  color: white;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
}

.contact form span {
  color: red;
}

.contact .contact-form .form_control {
  width: 100%;
  height: 60px;
  color: white;
  font-size: 14px;
  background-color: #212121;
  padding: 20px;
  margin-bottom: 30px;
}

.contact .contact-form input, .contact .contact-form textarea {
  border: none;
  outline: none;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .contact-form textarea.form_control {
  min-height: 200px;
  max-height: 500px;
}

.icon {
  height: 48px;
  width: 48px;
  margin-right: 20px;
}

.list-group-flush {
  width: 235px;
  border-radius: 20px;
  padding-left: 0;
}

.list-group-item {
  background-color: transparent;
  width: 235px;
  border: 0;
}

.mb-0 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
}

.category {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin-bottom: 0;
}

.footbar {
  width: 100vw;
}

.skillCol {
  background-color: transparent;
}

.research .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.research .researchButton {
  border-radius: 20px;
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  padding-left: 10px;
  padding-right: 0;
  border: 0;
}

.research .publication {
  padding: 10px;
  border-radius: 10px;
}

.research .publication .title {
  text-align: center;
  margin-bottom: 10px;
}

.publish-research {
  text-align: center;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */