*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: black;
}
*::-webkit-scrollbar-button:single-button {
  background-color: black;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
*::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent gray transparent;
}
*::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent white transparent;
}
*::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: gray transparent transparent transparent;
}
*::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: white transparent transparent transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid black;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.particles{
    align-items: center;
    z-index: -2;
    background-color: black;
    position: absolute !important;
    height: 100vh;
    width: 90vw;
    opacity: 0.8;
    overflow: hidden !important;
    top:0;
    right: 0;   
    left: 1.5vw;
    bottom:0;
}

.nav-style{
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
    // background-color: black;
    .logo{
        margin-right: 5%;
    }
}

.header{

    margin-top: 40vh;
    vertical-align: middle;

    .name{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        // font-size: xx-large;
    }

    .info {
        color: white;
        opacity: 0.85;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        text-align: center;
        opacity: 0.85;
        margin-bottom: 4rem;
    }

    .i-m{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        text-align: center;
        opacity: 0.85;
        margin-bottom: 1rem;
    }

    .cv{
        z-index: 10;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        left: auto;
        right: auto;
        text-align: center;

        .btn{
            border-radius: 10px;
            font-size: large;
        }

        .btn:hover{
            background-color: white !important;
            color: black !important;
            border-color: black !important;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

.section-title{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.about{
    position: relative;
    margin-top: 350px;
    color: white;

    .about-img{
    height: 60vh;
    border-radius: 50px;
    vertical-align: middle;
    // float: right;
  }
}

.icon{
    height: 48px;
    width: auto;
}
